/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;
  --footer-height: 23.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hex)*/
  --main-color: linear-gradient(180.96deg, #39289F 0.82%, #422F9C 129.1%);
  --contact-color: linear-gradient(176.32deg, #2211E7 -26.24%, #383837 96.98%);
  --footer-color: #070707;

  --text-color: #FFFFFF;
  --text-secondary-color: #E87D0E;

  --nav-link-hover-color: #CECECE;
  --button-form-color: #DC7000;
  --button-details-color: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
  --button-see-all-color: #5242aa;
  --box-color: #1C140F;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Rubik', sans-serif;

  --biggest-font-size: 2.25rem;
  --big-font-size: 1.25rem;
  --footer-logo-size: 1.15rem;
  --see-all-button-font-size: 1rem;
  --normal-font-size: .930rem;
  --small-font-size: .810rem;
  --smallest-font-size: .750rem;

  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --big-font-size: 2rem;
    --footer-logo-size: 1.75rem;
    --see-all-button-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smallest-font-size: .815rem;
  }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *:focus {
    outline: none;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    background: var(--main-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: .4s;
  }
  
  h1, h2, h3 {
    color: var(--text-color);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1440px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .section {
    padding: 4.5rem 0 1rem;
  }
  
  .section__height {
    height: 100vh;
  }

  .section__see-all-button {
    width: 139px;
    height: 57px;
    border-radius: 10px;
    border: none;
    color: var(--text-color);
    background-color: var(--button-see-all-color);
    font-family: var(--second-font);
    font-size: var(--see-all-button-font-size);
    font-weight: 500;
    cursor: pointer;
  }

  .section__see-all-button:hover {
    opacity: 0.8;
  }

  .main {
    overflow: hidden;
  }

  /*=============== HEADER & NAV ===============*/
  .header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    position: relative;
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav__logo {
    color: var(--text-color);
    font-weight: 800;
    font-size: var(--big-font-size);
  }

  .nav__logo:hover {
    opacity: 0.8;
  }

  .nav__close,
  .nav__toggle {
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.15rem;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: 300;
    transition: color .3s;
    cursor: pointer;
    position: relative;
  }

  .nav__link:hover {
    color: var(--nav-link-hover-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -17px;
    width: 65%;
    height: 4px;
    border-radius: 20px; 
    background-color: var(--button-form-color);
  }

  .active-link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 18px;
    width: 10%;
    height: 4px;
    border-radius: 20px; 
    background-color: var(--button-form-color);
  }

  .nav__button {
    border: none;
    width: 130px;
    height: 41px;
    padding: .5rem 0 .5rem 0;
    margin-left: -3rem;
    border-radius: 6px;
    font-family: var(--body-font);
    background: var(--button-details-color);
    color: var(--text-color);
    font-size: var(--smallest-font-size);
    font-weight: 300;
    cursor: pointer;
  }

  .nav__button:hover {
    opacity: 0.8;
  }

  .nav__toggle {
    display: flex;
    flex-direction: column;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    margin: 3px 0;
  }
  
  /* Navigation for mobile devices */
  @media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      left: -100%;
      top: 0;
      background-color: var(--box-color);
      width: 70%;
      height: 100%;
      padding: 7rem 1.5rem 2.5rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: left .4s;

      & .nav__button {
        margin-left: 0;
      }
    }
  }

  /* Show menu */
  .show-menu {
    left: 0;
  }

  /*=============== HOME SECTION ===============*/
  .section__home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .home__division {
    display: flex;
    flex-direction: column;
    row-gap: 3.50rem;
    position: relative;
  }

  .home__span {
    color: var(--text-secondary-color);
    font-size: var(--see-all-button-font-size);
    font-weight: 900;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
  }

  .home__title {
    width: 50%;
    font-size: var(--biggest-font-size);
    margin-top: -2rem;
    margin-bottom: -1rem;
  }

  .home__p {
    width: 50%;
    line-height: 2;
  }

  .home__button {
    width: 195px;
    height: 53px;
    border: none;
    border-radius: 40px;
    font-family: var(--body-font);
    background: var(--button-details-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    cursor: pointer;
  }

  .home__button:hover {
    opacity: 0.8;
  }

  .home__images-area {
    display: flex;
    flex-direction: column;
  }

  .home__components {
    max-width: 100%;
    position: absolute;
    top: 19%;
    right: 23%;
    z-index: 1;
  }

  .home__image {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: -2%;
    right: 12%;
    z-index: 90;
  }

  /*=============== TRENDING GAMES SECTION ===============*/
  .section__trending-games-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .trending-games__title-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .trending-games__title {
    font-size: var(--big-font-size);
  }

  .trending-games__area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    column-gap: 2.50rem;
  }

  .trending__first-game:hover, .trending__second-game:hover,
  .trending__third-game:hover, .trending__fourth-game:hover  {
    cursor: pointer;
    opacity: 0.8;
  }

  .trending-games__followers-area {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .7rem;
    margin-top: 1rem;
  }

  .trending-games__followers {
    font-weight: 500;
    font-size: var(--see-all-button-font-size);
  }

  /*=============== GAME OF THE WEEK SECTION ===============*/
  .section__top-game-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6rem;
  }

  .top-game__title {
    width: 50%;
    text-align: center;
    font-size: var(--big-font-size);
    font-weight: 510;
  }

  .top-game__division {
    margin-bottom: 4rem;
    margin-top: 5rem;
    max-width: 1140px;
  }

  .top-game__subtitle {
    font-weight: 510;
  }

  .top-game__description {
    width: 50%;
    margin-top: 2rem;
    font-weight: 300;
    line-height: 2;
  }

  .top-game__banner-area {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .top-game__circles {
    width: 196px;
    height: 154px;
    align-self: flex-end;
    position: absolute;
    top: -65px; 
    right: 150px;
    z-index: 1;
  }

  .top-game__banner {
    width: 100%;
    
    z-index: 3;
  }

  /*=============== SERVICES SECTION ===============*/
  .background-image {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../img/ruins-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section__services-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1440px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .services__title {
    width: 45%;
    text-align: center;
  }

  .services__description {
    margin-top: 2rem;
    width: 60%;
    text-align: center;
    font-weight: 300;
    line-height: 2;
  }

  .services__area {
    width: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services__division {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.50rem;
    margin: 70px;
  }

  .services__circle-shape {
    width: 65px;
    height: 65px;
    background-color: var(--text-color);
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services__arrow {
    width: 21px;
    height: 18px;
  }

  .services__circle-shape:hover, .services__arrow:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  /*=============== PROJECTS SECTION ===============*/
  .section__projects-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .projects__description {
    margin-top: 2rem;
    width: 40%;
    text-align: center;
    font-weight: 300;
    line-height: 2;
  }

  .projects__images-area {
    width: auto;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects__images-area img {
    margin: 10px
  }

  .projects__image1 {
    width: 382px;
    height: 223px;
    border-radius: 20px;
  }

  .projects__image2 {
    width: 382px;
    height: 223px;
    border-radius: 20px;
  }

  .projects__image3 {
    width: 352px;
    height: 223px;
    border-radius: 20px;
  }

  .projects__image4 {
    width: 246px;
    height: 223px;
    border-radius: 20px;
  }

  .projects__image5 {
    width: 401px;
    height: 223px;
    border-radius: 20px;
  }

  .projects__image6 {
    width: 469px;
    height: 223px;
    border-radius: 20px;
  }

  .projects__button-area {
    margin-top: 4rem;
  }

  /*=============== SUBSCRIBE SECTION ===============*/
  .subscribe-container {
    max-width: 1170px;
    align-items: center;
    justify-content: center;
  }

  .subscribe__box {
    width: auto;
    background-color: var(--box-color);
    border-radius: 15px;
    padding: 3rem 3rem 3rem 3rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .subscribe__title {
    font-weight: 500;
    font-size: var(--big-font-size);
  }

  .subscribe__description {
    width: 45%;
    margin-top: 2rem;
    font-weight: 300;
    line-height: 2;
  }

  .subscribe__box-description {
    margin-top: 1rem;
    font-weight: 300;
    width: 70%;
    line-height: 1.5;
  }

  .subscribe__input-area {
    position: relative; 
    display: inline-block;
  }

  .subscribe__input-content {
    display: flex;
    flex-direction: column;
    row-gap: .50rem;
  }

  #subscribe-span {
    font-size: var(--smallest-font-size);
    font-weight: 300;
  }

  .subscribe__input {
    width: 385px;
    height: 48px;
    border-radius: 8px;
    border: none;
    padding: 0 .8rem 0 2rem;
    font-family: var(--body-font);
    font-weight: 300;
  }

  .subscribe__input-invalid-data {
    width: 385px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px red;
    padding: 0 .8rem 0 2rem;
    font-family: var(--body-font);
    font-weight: 300;
  }

  .subscribe__input-valid-data {
    width: 385px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px green;
    padding: 0 .8rem 0 2rem;
    font-family: var(--body-font);
    font-weight: 300;
  }

  .subscribe__button {
    width: 105px;
    height: 37px;
    overflow: visible;
    position: absolute;
    float: right;
    top: 5px; 
    right: 5px; 
    border: none; 
    padding-left: .5rem;
    border-radius: 6px;
    font-family: var(--body-font);
    font-weight: 300;
    background: var(--button-form-color);
    color: var(--text-color);
    font-size: var(--smallest-font-size);
    cursor: pointer;
  }

  .subscribe__button:hover {
    opacity: 0.8;
  }

  /*=============== FOOTER ===============*/
  .footer {
    width: 100%;
    background-color: var(--footer-color);
    margin-top: 8rem;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
  }
  
  .footer__content {
    width: 100%;
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__info-area {
    display: flex;
    padding: 0 4rem 4rem 4rem;
    flex-direction: row;
    column-gap: 4rem;
  }

  .footer__logo-area, .footer__about-area, .footer__contact-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
  }

  .footer-logo {
    font-weight: 800;
    font-size: var(--footer-logo-size);
  }

  .footer__logo-area p p {
    margin-top: -1rem;
  }

  .footer__about-area ul {
    margin-top: -1rem; 
  }

  .footer__about-area li {
    line-height: 1.8;
  }

  .footer__contact-area p p {
    margin-top: -1rem;
  }

  .footer__icons-area {
    margin-bottom: -1rem;
    align-self: flex-end;
    flex-wrap: wrap;
  }

  .footer__icons-area a:hover {
    opacity: 0.8;
  }

  .footer__copyright-area {
    width: 100%;
    height: auto;
    padding-top: 3rem;
    border-top: solid 1px #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__span {
    font-size: var(--smallest-font-size);
    font-weight: 300;
  }

  /*=============== BREAKPOINTS ===============*/
  
  /* For small devices */
  @media screen and (max-width: 320px) {
    .container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .section__home-content {
      margin-bottom: -5.55rem;
    }
    .section__trending-games {
      margin-bottom: -5.55rem;
    }
    .section__top-game-content {
      margin-bottom: -5.55rem;
    }
    .section__services-content {
      margin-bottom: -5.55rem;
    }
    .section__projects-content {
      margin-bottom: -5.55rem;
    }
    .section__subscribe-content {
      margin-bottom: -5.55rem;
    }
    .footer {
      margin-top: 6rem;
    }
  }
  
  /* For small to medium devices */
  @media screen and (min-width: 320px) and (max-width: 620px) {
    .section__home-content {
      margin-bottom: -5.55rem;
    }
    .section__trending-games {
      margin-bottom: -5.55rem;
    }
    .section__top-game-content {
      margin-bottom: -5.55rem;
    }
    .section__services-content {
      margin-bottom: -5.55rem;
    }
    .section__projects-content {
      margin-bottom: -5.55rem;
    }
    .section__subscribe-content {
      margin-bottom: -5.55rem;
    }
    .footer {
      margin-top: 6rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 620px) and (max-width: 1024px) {
    .section__home-content {
      margin-bottom: -6rem;
    }
    .section__trending-games {
      margin-bottom: -6rem;
    }
    .section__top-game-content {
      margin-bottom: -6rem;
    }
    .section__services-content {
      margin-bottom: -6rem;
    }
    .section__projects-content {
      margin-bottom: -6rem;
    }
    .section__subscribe-content {
      margin-bottom: -6rem;
    }
    .footer {
      margin-top: 7rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .section__home-content {
      flex-wrap: wrap-reverse;
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .section__home-content {
      flex-wrap: wrap-reverse;
      margin-bottom: .25rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .section {
      padding: 7rem 0 0rem;
    }
    .header__nav {
      height: calc(var(--header-height) + 2.5rem);
    }
    .nav__close,
    .nav__toggle {
      display: none;
    }
    .nav__link {
      font-size: var(--normal-font-size);
    }
    .nav__menu {
      display: flex;
      column-gap: 3rem;
      align-items: center;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 6rem;
    }
  }


